*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-primary:#2e2e2e;
    --cor-secondary:#1f1f1f;
    --cor-header-footer:#2074E7;
    --cor-text:#f5f5f5;
    --font-text: arial, verdana, helvetica, sans-serif;
    --font-title: arial, verdana, helvetica, sans-serif;
    --border-default: 1px solid gray;
}

/* default tags*/

p{
    color: var(--cor-text);
    font-family: var(--font-text);
    text-align: justify;
    margin-top: 10px;
}

hr{
    margin: 20px 0px;
}

header{
    color: var(--cor-text);
    background-color: var(--cor-header-footer);
    height: 80px;
    border: var(--border-default);
    width: 100%;
}

header h1{
    font-family: var(--font-title);
    text-align: center;
    padding: 20px 0px;
}

header img{
    position: absolute;
    left: 5%;
    top: 12px;
}

body{
    background-color: var(--cor-primary);
    height: 100vh;
}

main{
    max-width: 1000px;
    margin: 20px auto;
    background-color: var(--cor-secondary);
    padding: 20px;
    border-radius: 10px;
    border: var(--border-default);
}


article h2{
    text-align: left;
    color: var(--cor-text);
    font-family: var(--font-text);
    border-left: 8px solid var(--cor-header-footer);
    padding-left: 10px;
    margin-bottom: 20px;
}

article h3{
    text-align: left;
    color: var(--cor-text);
    font-family: var(--font-text);
    padding: 3px 10px;
    margin: 20px 0px;
    background-color: var(--cor-header-footer);
    display: inline;
    border-radius: 10px;
}

article ul{
    list-style-position: inside;
    margin:10px;
}

article ul li{
    color: var(--cor-text);
    font-family: var(--font-text);
    margin-top: 5px;
}

article ul li ul li{
    list-style: none;
    padding-left: 10px;
}

article p.exemplos{
    background-color: var(--cor-text);
    color: var(--cor-secondary);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.imageInsideArticle{
    border: var(--border-default);
    border-radius: 10px;
    display: block;
    margin: 10px 0px 20px 20px;
}

.containerTemas{
    border: var(--border-default);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

table{
    border: var(--border-default);
    width: 100%;
    color: var(--cor-text);
    font-family: var(--font-text);
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0px;
}

table caption{
    background-color: var(--cor-header-footer);
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px;
    border-top: var(--border-default);
    border-left: var(--border-default);
    border-right: var(--border-default);
}

table th, tr, td{
    border: var(--border-default);
    width: max-content;
}

table td, th{
    padding: 5px 5px;
}

table th{
    background-color: var(--cor-header-footer);
}

footer{
    background-color: var(--cor-header-footer);
    color: var(--cor-text);
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
}

footer p{
    text-align: center;
    padding: 10px;
}